# Examples

## xarray integration

**run in an environment with h5coro installed**

Using the h5coro engine to open data in xarray.

In [ ]:
# import warnings

# warnings.filterwarnings('ignore')

In [ ]:
import xarray as xr
import earthaccess

In [ ]:
from h5coro.datasets import icesat2
col_convs = {} # {"delta_time": icesat2.to_datetime}

Accessing a cloud file

In [ ]:
%%time

s3url_atl03 = 'nsidc-cumulus-prod-protected/ATLAS/ATL03/006/2019/11/30/ATL03_20191130112041_09860505_006_01.h5'
auth = earthaccess.login()
creds = auth.get_s3_credentials(daac='NSIDC')
ds = xr.open_dataset(s3url_atl03, engine='h5coro', group='/gt1l/heights', col_convs=col_convs, credentials=creds)
ds

Accessing a local file

In [ ]:
# local_path = 'file:///home/jovyan/data/ATL03/processed_ATL03_20191130220138_09930502_006_01.h5'
local_path = '/data/ATL03_20200401184200_00950707_005_01.h5'
ds = None
if os.path.exists(local_path):
    local_path = 'file://' + local_path
    ds = xr.open_dataset(local_path, engine='h5coro', group='/gt1l/heights')
ds

## What xarray typically returns

**run in an environment without h5coro installed**

Accessing cloud ATL03 data without using h5coro.

In [ ]:
import xarray as xr
import earthaccess

In [ ]:
auth = earthaccess.login()
s3 = earthaccess.get_s3_filesystem(daac="NSIDC")

In [ ]:
%%time
s3url_atl03 = 'nsidc-cumulus-prod-protected/ATLAS/ATL03/006/2019/11/30/ATL03_20191130112041_09860505_006_01.h5'
ds = xr.open_dataset(s3.open(s3url_atl03, 'rb'), group='/gt1l/heights')
ds

## Two-dimensional product example (ATL23 & ATL20)

In [ ]:
import xarray as xr
import earthaccess

### ATL23 

(~90 second access time)

In [ ]:
auth = earthaccess.login()
creds = auth.get_s3_credentials(daac='NSIDC')

In [ ]:
%%time

s3url_atl23 = 'nsidc-cumulus-prod-protected/ATLAS/ATL23/001/2023/03/01/ATL23_20230401000000_10761801_001_02.h5'
ds = xr.open_dataset(s3url_atl23, engine='h5coro', group='/mid_latitude/beam_1', credentials=creds)
ds

In [ ]:
# mask out nodata values
depth_dfw = ds.depth_dfw.where(ds.depth_dfw < 3.4*10**38)

In [ ]:
# Must have matplotlib installed in the environment for this example to work
depth_dfw.plot()

### ATL20 

(~5 second access time)

In [ ]:
%%time

s3url_atl20 = 'nsidc-cumulus-prod-protected/ATLAS/ATL20/004/2023/03/01/ATL20-02_20230301013253_10771801_004_02.h5'
auth = earthaccess.login()
creds = auth.get_s3_credentials(daac='NSIDC')
ds = xr.open_dataset(s3url_atl20, engine='h5coro', group='/monthly', credentials=creds)
ds

In [ ]:
# mask out nodata values
mean_fb = ds.mean_fb.where(ds.mean_fb < 3.4*10**38)

In [ ]:
# Must have matplotlib installed in the environment for this example to work
mean_fb.plot()